## We include $/${} in arithmetic contexts as part of our coding style.
disable=SC2004

## We understand how mkdir --parents --mode=... behaves.
disable=SC2174

## SC2250 omitted by design. All variable references must use braces.
